body {
	  background-image: url('http://p1.pichost.me/640/56/1797175.png');
	  background-size: cover;
}

#mario {
		height: 25%;
		width: 25%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#mush {
		height: 15%;
		width: 8%;
    position: absolute;
    bottom: 22px;
    right: 15px;
}