<main>

  <audio autoplay loop>
    <source src="../mario.mp3" type="audio/mpeg">
  </audio>

  <img id="mario" src="http://1.bp.blogspot.com/-Tal5pJlGJ-o/VEApQsFpAcI/AAAAAAAAFpo/n5CwUhNWQtE/s1600/Super_Mario_Bros_Vector.png"/>

  <img id="mush" src="http://i286.photobucket.com/albums/ll92/Tichinde1/12696-high_res-koopa-mario-mushroom-vector-300x300.png">

  <img id="bird-upper" src="http://3.bp.blogspot.com/-9hHsA2J18Sk/Uvfbls191cI/AAAAAAAAXUw/q841reaU3Lo/s1600/Flappy+Birds+high+res+transparent+background+png+animated+(1).png">

  <img id="bird-lower" src="http://3.bp.blogspot.com/-9hHsA2J18Sk/Uvfbls191cI/AAAAAAAAXUw/q841reaU3Lo/s1600/Flappy+Birds+high+res+transparent+background+png+animated+(1).png">
   
</main>